<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        <h2>v-model</h2>
        {{ message }}
        <p><input type="text" v-model="message"></p>

        <label for="checkbox">{{ checked }}</label>
        <input type="checkbox" id="checkbox" v-model="checked">

        <br>

        <label for="Red">Red</label>
        <input type="checkbox" id="Red" value="Red" v-model="colors">
        <label for="Green">Green</label>
        <input type="checkbox" id="Green" value="Green" v-model="colors">
        <label for="Blue">Blue</label>
        <input type="checkbox" id="Blue" value="Blue" v-model="colors">
        <p>{{ colors }}</p>

        <br>

        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>Red</option>
            <option>Green</option>
            <option>Blue</option>
        </select>
        <p>{{ selected }}</p>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.1.5"></script> 
    <script src="js/main.js"></script>
</body>
</html>